.menu .logo a:hover{
  color: white !important;
  text-decoration: none;
}

.menu .logo a{
  float:left;
  margin-top:14px;
}

.menu {
  position:fixed;
  background-color:#191919;
  width:100%;
  z-index:999;
  color:white !important;
}

.t1 {
  height:3px;
  width:21px;
  background-color:#21bcef;
  margin-top:14px;
  margin-right:auto;
}

.t2 {
  height:3px;
  width:30px;
  background-color:#21bcef;
  margin-top:5px;
  margin-left:auto;
  margin-right:auto;
  margin-left:auto;
  margin-right:auto;
}

.t4 {
  height:3px;
  width:30px;
  background-color:#21bcef;
  margin-top:5px;
  margin-left:auto;
  margin-right:auto;
}

.menu a {
  color:white !important;
}

.menu a:hover {
  border: initial !important;
  color: #21bcef !important;
}

.mobile {
  display:none;
}

.nav-tabs {
  border:initial;
  /*position:absolute;*/
  z-index:9999;
  right:85px;
}

.nav-item {
  padding:22px 0px;
  font-size:20px;
  text-align:center;
}

.nav-item {
  cursor:pointer;
}

.menu .textmenu {
  margin-top:14px !important;
  font-size:20px;
}

.toggle-button {
  float:left;
  margin-top:7px;
  margin-right:8px;
}

@media (max-width: 767px) {
  .menu .complogo {
    display:none;
  }
  .menu .mobilelogo{
    margin: 7px 0px;
    font-size: 30px
  }
  .menu .mobile {
    display:block;
  }
  .nav-tabs {
  }
  .menu .menunav {
    float:right;
  }
  .menu .menunav {
    display:none;
    float:initial !important;
  }
  .menu .mobmenu{
    position: absolute;
    background-color: #131313;
    top: 59px;
    left: 0px;
    height: 3000px;
  }  
  .menu .nav-item {
    font-size: 23px;
    text-align: left;
    padding: 5px 0px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .menu a {
    color: white !important;
    padding-left: 0px;
    font-family: Arial;
    font-weight: 900;
  }
}