.menu .logo a:hover{
  color: white !important;
  text-decoration: none;
}
.menu .logo a{
  float:left;
  margin-top:14px;
}
.menu {
  width:100%;
  z-index:999;
  color:white !important;
  display: flex;
  position: absolute;
}
.menu .comp-logo{
  float: left;
}
.menu .number{
  float: right;
  margin-top: 24px;
  margin-right: 80px;
  font-size: 20px;
  font-family: "Arial Narrow Bold", "Arial Narrow", "Arial", sans-serif;
  font-stretch: condensed;
  font-weight: 700;
}
.t1 {
  height: 5px;
  width: 45px;
  background-color: #ff0000;
  margin-top: 5px;
  margin-right: auto;
  margin-left: 10px;
}
.t2 {
  height: 5px;
  width: 45px;
  background-color: #ff0000;
  margin-top: 6px;
  margin-right: auto;
  margin-left: 10px;
}
.t4 {
  height: 5px;
  width: 30px;
  background-color: #ff0000;
  margin-top: 6px;
  margin-right: 0px;
  margin-left: auto;
}
.menu a {
  color:black !important;
  font-weight: bold;
  letter-spacing: 1px;
}
.menu a:hover {
  border: initial !important;
  color: black !important;
}
.mobile {
  display:none;
}
.nav-tabs {
  border:initial;
  position: relative;
  right: 0;
  left: 30px;
  float: left;
}
.nav-item {
  padding:22px 0px;
  font-size:20px;
  text-align:center;
}
.nav-item {
  cursor:pointer;
}
.menu .textmenu {
  margin-top:14px !important;
  font-size:20px;
}
.toggle-button {
  float: right;
  margin-top:7px;
  margin-right:8px;
}
.menu .line{
  width: 50px;
  height: 2px;
  background-color: red;
  float: left;
  margin-top: 15px;
  margin-right: 20px;
}
.menu .close-button{
  display: none;
}
@media (min-width: 992px ) and (max-width: 1200px){
  .menu .nav-link{
    padding: .5rem 6px;
  }
  .menu .line{
    margin-right: 10px;
    width: 30px;
  }
}
@media (max-width: 992px) {
  .menu{
    position: fixed;
    background-color: white;
    padding-bottom: 5px;
  }
  .menu .comp-logo {
    display:none;
  }
  .menu .number{
    display: block;
    margin-right: 10px;
    font-size: 20px;
    padding-left: 20px;
    margin-top: 25px;
    float: initial;
    visibility: hidden;
  }
  .menu .line{
    display: none;
  }
  .menu .mobilelogo{
    margin: 7px 0px;
    font-size: 30px
  }
  .menu .mobile {
    display:block;
  }
  .nav-tabs {
    right: 0px;
  }

  .menu .menunav {
    display:block;
    float:right; 
    margin-top: 85px;
    margin-bottom: 50px;
    visibility: hidden;
  }
  .menu .mobmenu{
    float: right;
    position: fixed;
    background-color: #232323;
    top: 0px;
    right: 0px;
    height: 3000px;
    visibility: hidden;
  }  
  .menu .nav-item {
    font-size: 18px;
    text-align: left;
    padding: 5px 0px;
    padding-right: 0px;
  }
  .menu .nav-link {
    padding-right: 0px;
  }
  .menu a {
    color: white !important;
    padding-left: 0px;
    font-family: Arial;
    font-weight: 900;
    float: right;
    margin-top: 10px;
  }
  .menu .logo a {
    margin-top: 0px;
  }
  .menu .close-button{
    float: right;
    margin-right: 30px;
    margin-top: 30px;
    display: block;
    visibility: hidden;
  }
  .feedback textarea {
    float: initial;
    margin-left: auto;
    margin-right: auto;
  }
}