header {
    background-image:url("../../assets/img/header-background.jpg");
    background-position:center;
    background-size:cover;
    font-family:Arial;
    position:relative;
    padding-top:70px;
    height: 100vh;
  }
  
  header h1 {
    text-align:center;
    color:white;
    font-size:36px;
    line-height:1.1;
    margin-bottom:90px;
    font-weight: 900;
  }
  
  header .leavefeedback {
    color:black;
    font-size: 36px;
    font-weight:900;
    line-height: 1.1;
    letter-spacing: 5px;
  }
  header  .red{
    color:#e51a0b;
  }
  header .text {
    color:black;
    font-size: 22px;
    padding-right: 80px;
    margin-top: 30px;
  }
  
  header .mob-text-center{
    margin-top: 135px;
    margin-bottom: 250px;
    margin-left: 55px;
  }
  /*header .button:hover {
    -webkit-box-shadow:0px 0px 25px 0px rgba(56,166,234,1);
    -moz-box-shadow:0px 0px 25px 0px rgba(56,166,234,1);
    box-shadow:0px 0px 25px 0px rgba(56,166,234,1);
  }*/
  
  header .button {
    width: 335px;
    background-color: #e51a0b;
    border-radius: 40px;
    color: white;
    text-align: center;
    font-size: 25px;
    padding: 7px 0px;
    margin-top: 35px;
    cursor: pointer;
    letter-spacing: 2px;
  }
.service-head{
  font-family:Arial;
  font-weight: bold;
  background-color: #f1f1f1;
  color: #101010;
  font-size: 32px;
  letter-spacing: 4px;
}
  .service-head .head{
    margin-left: 125px;
    position: sticky;
    padding: 10px 0px;
  }
  .service-head .rectangle{
    background-color: #e72b23;
    width: 91px; 
    height: 26px;
    position: absolute;
    top: 13px;
    left: 0px;
    z-index: -9999;
  }
  .service-head .text{
    position: relative;
    left: 25px;
  }
.services{
}
  .services .wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1920px;
  }
  .services .peace{
    background-color: #e72b23;
    padding-top: 120px;
    padding-bottom: 115px;
    color: white;
    text-align: center;
  }
  .services .peace:hover{
    background-color: #fafafa;
    color: black;
  }
  .services .peace:hover .line{
    background-color: #e72b23;
  }
  .services .head{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 26px;
    letter-spacing: 4px;
  }
  .services .line{
    width: 100px;
    height: 4px;
    background-color: white;
    margin: 0px auto;
    margin-top: 28px;
  }
  .services .text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    margin-top: 20px;
    letter-spacing: 2px;
  }
.packages{
  background-image: url("../../assets/img/packs-background.jpg");
  background-position: center;
  background-size: cover;
  padding-bottom: 25px;
}
  .packages .wrapper{
    text-align: center;
    background-color: white;
    padding: 45px 28px;
    -webkit-box-shadow: 0px 0px 20px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px -8px rgba(0,0,0,0.75);
    padding-bottom: 5px;
    margin-top: 160px;
  }
  .packages .head{
    font-size: 33px;
    letter-spacing: 3px;
    font-weight: bold;
  }
  .packages .text{
    font-size: 18px;
    font-family: arial;
    margin-top: 18px;
    text-align: center;
    letter-spacing: 2px;
    height: 130px;
    display: flex;
    align-items: center;
  }
  .packages .text span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }
  .packages .property{
    margin-top: 10px;
    text-align: left;
    letter-spacing: 2px;
    height: 60px;
  }
  .packages .property img{
    float: left;
    margin-top: 15px;
  }
  .packages .property .te{
    display: flex;
    padding-left: 25px;
    font-size: 20px;
    line-height: 1.3;
  }
  .packages .button{
    width: 186px;
    margin: 36px auto;
    background-color: #ff0400;
    text-align: center;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
    padding: 6px 0px;
    cursor: pointer;
  }
  .packages .price  {
    margin-top: 18px;
    font-size: 21px;
    color: #ff0400;
  }
.feedback{
  padding-bottom: 50px;
}
  .feedback .wrapper{
    display: table;
    margin-left: 45px;
  }
  .feedback .text{
    font-size: 25px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
  }
  .feedback .red{
    color: #e51a0b;
  }
  .feedback form .text{
    margin-top: 20px;
    height: 45px;
    width: 360px;
    font-size: 16px;
    padding-left: 15px;
  }
  .feedback form .text::placeholder{
    color: #970c0c;
    opacity: 1;
  }
  .feedback textarea::placeholder{
    color: #970c0c;
    opacity: 1;
  }
  .feedback textarea{
    float: left;
    resize: none;
    padding-left: 10px;
    padding-top: 10px;
  }
  .feedback .contact-inform{
    width: 300px;
    float: left;
    margin-left: 20px;
  }
  .feedback .formwrapper{
    margin-top: 30px;
  }
  .feedback button{
    text-align: center;
    background-color: #de0a07;  
    color: white;
    text-transform: uppercase;
    border: initial;
    width: 360px;
    height: 50px;
    margin-top: 20px;
    cursor: pointer;
  }
footer{
  width: 100%;
  background: rgba(152,14,14,1);
  background: -moz-linear-gradient(top, rgba(152,14,14,1) 0%, rgba(196,24,24,1) 49%, rgba(152,14,14,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(152,14,14,1)), color-stop(49%, rgba(196,24,24,1)), color-stop(100%, rgba(152,14,14,1)));
  background: -webkit-linear-gradient(top, rgba(152,14,14,1) 0%, rgba(196,24,24,1) 49%, rgba(152,14,14,1) 100%);
  background: -o-linear-gradient(top, rgba(152,14,14,1) 0%, rgba(196,24,24,1) 49%, rgba(152,14,14,1) 100%);
  background: -ms-linear-gradient(top, rgba(152,14,14,1) 0%, rgba(196,24,24,1) 49%, rgba(152,14,14,1) 100%);
  background: linear-gradient(to bottom, rgba(152,14,14,1) 0%, rgba(196,24,24,1) 49%, rgba(152,14,14,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#980e0e', endColorstr='#980e0e', GradientType=0 );
  padding-top: 20px;
  padding-bottom: 25px;
}
  footer .wrapper{
    margin-left: 45px;
    width: 100%;
  }
  footer .logo{
    float: left;
  }
  footer .social{
    float: left;
    margin-left: 30px;
    margin-top: 8px;
  }
  footer .number{
    float: right;
    margin-top: 10px;
  }
  footer .number a{
    font-size: 25px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
  }
  footer .soc-img{
    margin-left: 10px;
  }  
  @media (min-width: 992px) {
    .mobile-task-textarea{
      display: none;
    }
    .comp-task-textarea{
      display: block;
    }
  }
  @media (min-width: 992px ) and (max-width: 1200px){
    header .leavefeedback {
      font-size: 20px;
    }
    header .text {
      font-size: 18px;
    }
    .packages .text{
      font-size: 16px;
      font-family: arial;
      margin-top: 18px;
      text-align: center;
      letter-spacing: 2px;
      height: 130px;
    }
    .packages .property{
      margin-top: 10px;
      text-align: left;
      letter-spacing: 2px;
      height: 60px;
    }
    .packages .property .te{
      display: flex;
      padding-left: 17px;
      font-size: 17px;
      line-height: 1.3;
    }
  }
  @media (max-width: 992px) {
    header {
      background-position-x: 63%;
      height: auto;
    }
    header  .mob-text-center{
      margin-top: 50px;
      margin-bottom: 150px;
      margin-left: 0px;
    }
    header .leavefeedback {
      font-size: 20px;
    }
    header .text {
      font-size: 18px;
    }
    header .button {
      width: 263px;
      font-size: 19px;
      margin-left: auto;
      margin-right: auto;
    }
    .service-head {
      font-size: 20px;
    }
    .service-head .head {
      margin-left: 0px;
    }
    .service-head .text {
      left: 5px;
    }
    .service-head .rectangle {
      width: 50px;
      height: 14px;
    }
    .services .peace {
      padding-top: 55px;
      padding-bottom: 65px;
    }
    .services .gray{
      color: black;
      background-color: #fafafa;
    }
    .services .gray .line {
      background-color: #e72b23;
    }
    .packages .wrapper {
      margin-top: 45px;
    }
    .packages .text {
      font-size: 17px;
    }
    .packages .head {
      font-size: 32px;
    }
    .packages .property .te {
      font-size: 18px;
    }
    .feedback .wrapper {
      margin-left: 0px;
      display: initial;
    }
    .feedback .contact-inform {
      width: 300px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      float: initial;
    }
    .feedback form .text {
      width: 260px;
      margin-left: auto;
      margin-right: auto;
    }
    .feedback button {
      width: 260px;
    }
    footer .logo {
      margin: auto;
      display: block;
      float: initial;
    }
    footer .wrapper {
      margin-left: 0px;
    }
    footer .social {
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      float: unset;
      display: table;
    }
    footer .number {
      margin: auto;
      width: 168px;
      margin-top: 15px;
      float: initial;
    }
    .mobile-task-textarea{
      display: block;
      width: 260px;
      margin-top: 20px;
      margin-left: 1px;
    }
    .comp-task-textarea{
      display: none;
    }
  }