body {
  background-color: #4b4453;
}
.header {
  text-align: center;
  margin-top: 85px;
  font-size: 50px;
  color:rgb(255, 226, 226);
  font-family: 'Sofia';
}
.cv {
  font-family: "Inconsolata";
  display: block;
  width: 75%;
  margin: 5% auto;
  color: #ffd3d3;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.4;
}